*{
    font-family: 'InfinitySans-RegularA1';
}
@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.sidebar{
    height:auto;
    width:15%;
    position: absolute;
    left:0;
    top: 0;
    margin-top: 80px;
    background-color: #EAEAEA;;
}

.sideTop ul{
    background-color: burlywood;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.sideTop ul li{
    float: left;
    width: 33.33333%;
}

.sideTop ul li a{
    display: block;
    padding: 16px 0px;
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: 0.4s;
}

.sideTop ul li .not_now{
    background-color: #68D6CB;
    color: aliceblue;
}

.sideTop ul li .not_now:hover{
    background-color: aliceblue;
    color: #68D6CB;
    transition: 0.4s;
}

.sideTop ul li .now{
    background-color: aliceblue;
    color: #68D6CB;
}


.sideSubject ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
}

.sideSubject ul li a{
    background-color: #b2e4df;
    display: block;
    color: #000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
    transition: 0.3s;
    
}

.sideSubject ul li a:hover{
    background-color: #a0c9c5;
    transition: 0.3s;
}

.searchBar{
    max-width: 93.5rem;
    margin-left: 15%;
    margin-top: 2rem;
    padding: 0 2rem;
    width: auto;
}

.searchBar input[type='text']{
    font-size:1.2em;
    border:none; 
    outline: none; 
    background-color:#F2EDEB; 
    border-bottom:2px solid #000000;
    margin-left: 2rem; 
}

.semester_select{
    margin-left: 2rem;
    width: 150px;
    height: 25px;
    margin-top: 12px;
}
.searchBar select{
    width: 100px;
    height: 25px;
}

.semester_select input[type='submit']{
    width: auto;
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    text-align: center;
}

.container {
    max-width: 93.5rem;
    margin-left: 15%;
    padding: 0 2rem;
    width: auto;
}

.subject {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0.5rem;
}

.subject-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1.3rem;
    cursor: pointer;
    text-align: center;
    border: 2px solid #4cb3a8; 
    border-radius: 15px;
    background-color: #F2EDEB;
    height: 22rem;
    transition: 0.6s;
}

.subject-item:hover{
    background-color: #b2e4df;
    border-color:#3a3a3a;
    opacity: 0.5;
    transition: 0.6s;
}

.subject-item:hover li{
    color: #000;
}

.subject-hide {
    position: relative;
    flex: 1 0 22rem;
    margin: 1.3rem;
    text-align: center;
    border: 2px solid #F2EDEB; 
    background-color: #F2EDEB;
    height: 22rem;
}

.subject-item ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
}

.subject-item ul li a{
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
}


.subject-item ul li:nth-child(1){
    margin-top: 20%;
    font-weight:bold;
    font-size: 1.8em;
}

.subject-item ul li:nth-child(2){
    margin-top: 5%;
    font-weight:bold;
    font-size: 1.1em;
}

.subject-item ul li:nth-child(3){
    margin-top: 10%;
    font-weight:bold;
    font-size: 2em;
}
