*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'SEBANG_Gothic_Bold';
  
  }
  @font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  
  body {
    background-color: #9ED0BA;
  }
  
  .loginForm {
    position:absolute;
    width:380px;
    height:480px;
    padding: 30px, 20px;
    background-color:#EAEAEA;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
  }
  
  .loginForm h1{
    text-align: center;
    margin: 30px;
    color: #478497;
  }
  
  .idForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
  }
  
  .passForm{
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
  }
  
  .id {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .btn {
    position:relative;
    left:0%;
    margin-top: 15px;
    font-size: 1em;
    margin-bottom: 25px;
    width:50%;
    height:50px;
    background: #478497;
    background-size: 200%;
    color:#fff;
    font-weight: bold;
    border: none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    border-radius: 10px;
  }
  
  .btn:hover {
    background:#2A515A;
    color:#fff;
    transition:400ms ease all;
  }
  
  .bottomText {
    text-align: center;
  }


  .bottomText2 {
    margin-top: 5px;
    text-align: center;
  }