*{
    font-family: 'InfinitySans-RegularA1';
  }
  @font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  .board_wrapper{
      margin: 0 auto;
      width: 40%;
      position: relative;
      padding-top: 35px;
      padding-bottom: 15px;
      overflow: hidden;
  }
  
  .board_wrapper h2{
      color:#363636;
      margin-bottom: 10px;
  }
  
  .board_wrapper .container_board{
      text-align: center;
      background-color: #fff;
      border: 1.5px solid rgb(197, 197, 197);
      border-radius: 20px 20px 0 0;
  }

  .board_wrapper textarea{
      font-size: 1em;
      width: 100%;
      height: 260px;
      resize: none;
      outline: none;
      border: none;
      margin-top: 10px;
      padding-left: 15px;
      padding-right: 10px;
      padding-top: 10px;
      border-top: 1.5px solid rgb(197, 197, 197);
  }


.board_wrapper input[type='text']{
    font-size: 1em;
    outline: none;
    border: none;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    width: 90%;
}
  
  .board_wrapper button{
      float:right;
      font-size: 1.2em;
      width: auto;
      padding: 10px;
      height: 50px;
      margin-right: 10px;
      margin-top: 10px;
      background: #f57676; 
      color:aliceblue;
      border: none;
      font-weight: 600;
      cursor:pointer;
      transition: 0.4s;
      border-radius: 15px;
      display:inline;
  }
  
  .board_wrapper button:hover{
      background: #d45b5b; 
      color:aliceblue;
      transition: 0.4s;
  }
  
  .board_wrapper input[type='submit']{
      float:right;
      font-size: 1.2em;
      width: auto;
      padding: 10px;
      height: 50px;
      background: #68D6CB; 
      color:aliceblue;
      border: none;
      font-weight: 600;
      cursor:pointer;
      transition: 0.4s;
      border-radius: 15px;
      display:inline;
      margin-top: 10px;
    }
  
  .board_wrapper input[type='submit']:hover{
      background: #5cb9b0; 
      color:aliceblue;
      transition: 0.4s;
  }
